#page-auth {

  h2 {
    font-size: 24px;
    margin: 64px;
    font-family: 'Poppins', sans-serif;
  }

  p {
    font-size: 14px;
    color: #737380;
    margin-top: 16px;

    a {
      color: #e559f9;
    }
  }

}